/* css */
.quizContainer {
    text-align: center;
    margin: 50px;
}


.question-tile, .answer-tile {
    border: 1px solid #ccc;
}

.question-tile p {
    font-size: 18px;
}

.answer-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-top: 20px;
}

button.answer {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}

button.answer:focus {
    border: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.results-container {
    text-align: center;
    margin: 50px;
    display: none;
}

h1 {
    color: #fff; /* Set the text color */
    background-color: #000; /* Set the background color */
    padding: 20px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
